@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

header {
    width: 100%;
    height: 10vh;
    background-color: pink;
    position:relative;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.08), 0 4px 6px 0 rgba(0, 0, 0, 0.12);
}

nav{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
        
.navlist {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
}

.navlist a {
    text-decoration: none;
    margin: 0;
}

.logo {
    font-size: 1.2rem;
    font-weight: bold;
}

.logo span {
    color: whitesmoke;
    margin: 0;
    width:60%;
    height: 20%;
    border: 5px inset grey;
    border-radius: 10px;
    background-color: #6096b5;
    padding: 4px;
}

.logo:hover {background-color: #2a495b}

.logo:active {
      background-color: #487a97;
      box-shadow: 2px 2px 0 0 #2a495b;
      transform: translateY(2px);
    }

    .nav-items {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .nav-items a {
        position: relative;
        font-size: 1.2rem;
        color: #2a495b;
        margin: 0 20px;
        text-decoration: none;
        font-weight: 550;
        transition: 0.3s linear;
    }
    
    .nav-items a::before {
        position: absolute;
        content: "";
        bottom: -3px;
        left: 0;
        width: 0%;
        height: 3px;
        background-color: #2a495b;
        text-shadow: 0 0 5px #2a495b;
        transition: 0.2s linear;
    }
    
    .nav-items a:Hover::before {
        width: 100%;
        text-shadow: 0 0 5px #2a495b;
    }
    
    .nav-items a:hover {
        color: whitesmoke;
        text-shadow: 0 0 5px #2a495b;
    }

        body {
            font-family: "Roboto", sans-serif;
            color: white;
            margin: 0;
            background-color: #cef4f6;
        }

        ::-webkit-scrollbar {
            width: 10px;
        }
        
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        
        ::-webkit-scrollbar-thumb { 
            background: #2a495b;
            border-radius: 4px;
            transition: all 0.3s ease;
        }
        
        ::-webkit-scrollbar-thumb:hover {
            background:  #2a495b;
        }
        
        main {
            font-family: "Roboto", sans-serif;
            color: black;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 85vh;
        }

        .container {
            text-align: center;
            justify-content: center;
            justify-items: center;
            background: whitesmoke;
            padding: 40px;
            border-radius: 5%;
            box-shadow:10px 10px 10px 0 #b1b2b3;
            width: 45vh;
            height: 50vh;
            max-width: 200px;
            max-height: 240px;
            min-width: 120px;
            min-height: 160px;
        }

        h1 {
            font-family: "Roboto", sans-serif;
            color: #2a495b;
            text-align: center;
            align-items: center;
            font-size: 1.5rem;
            line-height: 2rem;
            margin-block: 2rem 2rem;
        }

        #clicker {
            margin: 20px 0;
        }

        #click-button {
            width: 136px;    
            height: 164px;
            border: none;
            box-shadow: 0 0 20px #d1cceb;
            border-radius: 100% 100% 90% 90%;
            background: linear-gradient(#cef4f6 40%, #d1cceb 80%);
            cursor: pointer;
            transition: transform 0.1s;
        }

        #click-button:hover {
            transform: scale(1.1);
        }

        #click-button:active {
            transform: scale(0.96);
        }
        
        #score {
            font-size: 1.5rem;
            margin-top: 2rem;
            transition: color 0.1s;
        }

        .reload {
            display: none;
            justify-content: center;
            margin-top: 2rem;
            padding: 1rem;
            width: 100px;
            border-radius: 10px;
            background:#2a495b;
            color: whitesmoke;
            outline: none;
            border-radius: 10px;
            border: none;
            cursor: pointer;
        }

        footer {
            width: 100%;
            height: 2.8rem;
            position: relative;
            bottom: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: #2a495b;
            font-size: 0.8rem;
            font-weight: 600;
        }
        
        .social-links i{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 1.6rem;
            height: 1.6rem;
            background-color: transparent;
            border: 0.25rem solid #2a495b;
            position: relative;
            border-radius: 50%;
            color: #2a495b;
            margin: 1rem;
            font-size: 1.2rem;
            transition: 0.2s linear;
        }
        
        .social-links i:hover {
            scale: 1.3;
            color: black;
            background-color: #2a495b;
            border: #2a495b;
            filter: drop-shadow(0 0 10px #2a495b);
        }
        