@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

        header {
            width: 100%;
        }

        .navlist a {
            text-decoration: none;
        }

        .logo {
            color: whitesmoke;
            font-size: 1.5rem;
            font-weight: bold;
        }

        .logo span {
            color: #2a495b;
            text-shadow: 0 0 5px #2a495b;
        }

        body {
            font-family: "Roboto", sans-serif;
            color: white;
            margin: 0;
            background: url("../EggDrop.png");
            background-repeat: no-repeat;
            background-size: cover;
        }

        main {
            font-family: "Roboto", sans-serif;
            color: black;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 85vh;
        }

        .container {
            text-align: center;
            justify-content: center;
            justify-items: center;
            background: whitesmoke;
            padding: 40px;
            border-radius: 5%;
            box-shadow:10px 10px 10px 0 #b1b2b3;
            width: 45vh;
            height: 50vh;
            max-width: 200px;
            max-height: 240px;
            min-width: 120px;
            min-height: 160px;
        }

        h1 {
            font-family: "Roboto", sans-serif;
            color: #2a495b;
            text-align: center;
            align-items: center;
            font-size: 1.5rem;
            line-height: 2rem;
            margin-block: 2rem 2rem;
        }

        #clicker {
            margin: 20px 0;
        }

        #click-button {
            width: 136px;    
            height: 164px;
            border: none;
            box-shadow: 0 0 20px #d1cceb;
            border-radius: 100% 100% 90% 90%;
            background: linear-gradient(#cef4f6 40%, #d1cceb 80%);
            cursor: pointer;
            transition: transform 0.1s;
        }

        #click-button:hover {
            transform: scale(1.1);
        }

        #click-button:active {
            transform: scale(0.96);
        }
        
        #score {
            font-size: 1.5rem;
            margin-top: 2rem;
            transition: color 0.1s;
        }

        .reload {
            display: none;
            justify-content: center;
            margin-top: 2rem;
            padding: 1rem;
            width: 100px;
            border-radius: 10px;
            background:#2a495b;
            color: whitesmoke;
            outline: none;
            border-radius: 10px;
            border: none;
            cursor: pointer;
        }

        footer {
            width: 100%;
            height: 2.8rem;
            position: relative;
            bottom: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: #2a495b;
            font-size: 0.8rem;
            font-weight: 600;
        }
        
        .social-links i{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 1.6rem;
            height: 1.6rem;
            background-color: transparent;
            border: 0.25rem solid #2a495b;
            position: relative;
            border-radius: 50%;
            color: #2a495b;
            margin: 1rem;
            font-size: 1.2rem;
            transition: 0.2s linear;
        }
        
        .social-links i:hover {
            scale: 1.3;
            color: black;
            background-color: #2a495b;
            border: #2a495b;
            filter: drop-shadow(0 0 10px #2a495b);
        }
        