* {
    text-decoration: none;
    scroll-behavior:smooth;
    font-family: "Lobster Two", sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb { 
    background: #6096b5;
    border-radius: 4px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background:  #2a495b;
}

head {
    width: 100%;
    height: 10vh;
}

header {
    width: 100%;
    height: 10vh;
    background-color: #487a97;
    position:relative;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.08), 0 4px 6px 0 rgba(0, 0, 0, 0.12);
}

nav{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
        
.navlist {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
}

.navlist a {
    text-decoration: none;
    margin: 0;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-items a {
    position: relative;
    font-size: 1.2rem;
    color: #ddf2ff;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}

.nav-items a::before {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #ddf2ff;
    text-shadow: 0 0 5px #2a495b;
    transition: 0.2s linear;
}

.nav-items a:Hover::before {
    width: 100%;
    text-shadow: 0 0 5px #2a495b;
}

.nav-items a:hover {
    color: whitesmoke;
    text-shadow: 0 0 5px #2a495b;
}

.logo {
    font-size: 1.2rem;
    font-weight: bold;
}

.logo span {
    color: #ddf2ff;
    margin: 0;
    width:60%;
    height: 20%;
    border: 5px inset grey;
    border-radius: 10px;
    background-color: #6096b5;
    padding: 4px;
}

.logo:hover {background-color: #2a495b}

.logo:active {
    background-color: #487a97;
    box-shadow: 2px 2px 0 0 #2a495b;
    transform: translateY(2px);
}

body {
    margin: 0;
    width: 100%;
    background-color: #ddf2ff;
    font-family: "Lobster Two", sans-serif;
}
        
main {
    color: #2a495b;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.container {
    text-align: center;
    justify-content: center;
    justify-items: center;
    background: whitesmoke;
    padding: 40px;
    border-radius: 5%;
    box-shadow:10px 10px 10px 0 #b1b2b3;
    width: 45vh;
    height: 50vh;
    max-width: 200px;
    max-height: 240px;
    min-width: 120px;
    min-height: 160px;
}

h1 {
    font-family: "Lobster Two", sans-serif;
    color: #2a495b;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-block: 1rem 1rem;
}

#timer {
    margin: 0 0 10px 0;
}

#clicker {
    margin: 10px 0 50px 0;
}

#click-button {
    width: 136px;    
    height: 164px;
    border: none;
    box-shadow: 0 0 20px #d1cceb;
    border-radius: 100% 100% 90% 90%;
    background: linear-gradient(#fed3d9 40%, #d1cceb 80%);
    cursor: pointer;
    transition: transform 0.1s;
}

#click-button:hover {
    transform: scale(1.1);
}

#click-button:active {
    transform: scale(0.96);
}

#score {
    font-family: "Archivo", sans-serif;
    font-size: 1rem;
    margin-top: 1rem;
}

.start, .reload {
    display: none;
    justify-content: center;
    margin-top: 1rem;
    padding: 1rem;
    width: 100px;
    border-radius: 10px;
    background:#2a495b;
    color: whitesmoke;
    outline: none;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.start:hover, .reload:hover {
    background-color: #487a97;
}

.start:active, .reload:active {
    background-color: #487a97;
    box-shadow: 3px 3px 0 0 #2a495b;
    transform: translateY(2px);
}

footer {
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: #487a97;
    display: flex;
    flex-direction: space-between;
    justify-content: center;
    align-items: center;
    color: #ddf2ff;
    font-size: 0.8rem;
    font-weight: 600;
    box-shadow: 10px 8px 10px 6px rgba(0, 0, 0, 0.08), 8px 6px 6px 6px rgba(0, 0, 0, 0.12);
}

.social-links i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1.6rem;
    height: 1.6rem;
    background-color: transparent;
    border: 0.25rem solid #ddf2ff;
    position: relative;
    border-radius: 50%;
    color: #ddf2ff;
    margin: 1rem;
    font-size: 1.2rem;
    transition: 0.2s linear;
}

.social-links i:hover {
    scale: 1.4;
    color: #487a97;
    background-color: whitesmoke;
    border: #2a495b;
    filter: drop-shadow(0 0 10px whitesmoke);
}