@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

        header {
            width: 100%;
        }

        .navlist a {
            text-decoration: none;
        }

        .logo {
            color: whitesmoke;
            font-size: 1.5rem;
            font-weight: bold;
        }

        .logo span {
            color: #2a495b;
            text-shadow: 0 0 5px #2a495b;
        }

        body {
            font-family: "Roboto", sans-serif;
            color: white;
            margin: 0;
            background: url("../EggDrop.png");
            background-repeat: no-repeat;
            background-size: cover;
        }

        main {
            font-family: "Roboto", sans-serif;
            color: black;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 85vh;
        }

        footer {
            width: 100%;
            height: 2.8rem;
            position: relative;
            bottom: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: #2a495b;
            font-size: 0.8rem;
            font-weight: 600;
        }
        
        .social-links i{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 1.6rem;
            height: 1.6rem;
            background-color: transparent;
            border: 0.25rem solid #2a495b;
            position: relative;
            border-radius: 50%;
            color: #2a495b;
            margin: 1rem;
            font-size: 1.2rem;
            transition: 0.2s linear;
        }
        
        .social-links i:hover {
            scale: 1.3;
            color: black;
            background-color: #2a495b;
            border: #2a495b;
            filter: drop-shadow(0 0 10px #2a495b);
        }
        