@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

        header {
            width: 100%;
        }

        .navlist a {
            text-decoration: none;
        }

        .logo {
            color: whitesmoke;
            font-size: 1.5rem;
            font-weight: bold;
        }

        .logo span {
            color: rgb(42, 73, 91);
            text-shadow: 0 0 5px #2a495b;
        }

        body {
            font-family: "Roboto", sans-serif;
            color: black;
            margin: 0;
            background: url("../EggDrop.png");
            background-repeat: no-repeat;
            background-size: cover;
        }

        ::-webkit-scrollbar {
            width: 10px;
        }
        
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        
        ::-webkit-scrollbar-thumb { 
            background: #2a495b;
            border-radius: 4px;
            transition: all 0.3s ease;
        }
        
        ::-webkit-scrollbar-thumb:hover {
            background:  #2a495b;
        }
        
        main {
            font-family: "Roboto", sans-serif;
            background-color: #cef4f6;
            color: black;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 85vh;
        }

        .game {
            display: flex;
            flex-direction: column;
            height: 100vh;
            width: 100vw;
            justify-content: center;
            align-items: center;
        }

        .title {
            position: relative;
            top: 0;
            font-size: 4rem;
            z-index: 2;
        }

        .score {
            display: flex;
            width: 30vw;
            justify-content: space-evenly;
            position: absolute;
            top: 70px;
            z-index: 1;
        }

        .p-count, .c-count {
            font-size: 2rem;
            text-align: center;
            margin-top: 1rem;
        }

        .options {
            display: flex;
            width: 30vw;
            justify-content: space-evenly;
            margin-top: 2rem;
        }

        .rock, .paper, .scissors {
            padding: 1rem;
            width: 100px;
            border-radius: 10px;
            outline: none;
            border: none;
            cursor: pointer;
            background:#2a495b;
            color: whitesmoke;
        }

        .move {
            font-size: 2rem;
            font-weight: bold;
        }

        .reload {
            display: none;
            margin-top: 2rem;
            padding: 1rem;
            width: 100px;
            border-radius: 10px;
            background:#2a495b;
            color: whitesmoke;
            outline: none;
            border-radius: 10px;
            border: none;
            cursor: pointer;
        }

        .result {
            margin-top: 20px;
            font-size: 1.2rem;
        }

        footer {
            width: 100%;
            height: 2.8rem;
            position: relative;
            bottom: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: #2a495b;
            font-size: 0.8rem;
            font-weight: 600;
        }
        
        .social-links i{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 1.6rem;
            height: 1.6rem;
            background-color: transparent;
            border: 0.25rem solid #2a495b;
            position: relative;
            border-radius: 50%;
            color: #2a495b;
            margin: 1rem;
            font-size: 1.2rem;
            transition: 0.2s linear;
        }
        
        .social-links i:hover {
            scale: 1.3;
            color: black;
            background-color: #2a495b;
            border: #2a495b;
            filter: drop-shadow(0 0 10px #2a495b);
        }
        
        @media screen and (max-width: 600px) {
            .title {
                font-size: 2rem;
                text-align: center;
            }
            .score {
                position: absolute;
                top: 200px;
                width: 100vw;
            }
            .options {
                width: 100vw;
            }
        }